    .header {
                background-color: white;
                height: 65px;
            }
            
            .content {
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
            }
            
            body {
                height: 100%;
                width: 100%;
                background-color: gainsboro;
            }
            
            .footer {
                margin: 0;
                background-color: white;
                padding-top: 3%;
                padding-bottom: 3%;
                height: 65px;
            }
            
            
            
            .home-icon {
                text-align: center;
                margin-top: 100px;
                max-height: 200px;
            }
            
            table td {
                padding-left: 4px;
                padding-right: 4px;
            }
            
            td select {
                border: solid 0px #000;

                background-color: orange;
                color: white;
                /*background-image: url(img/down__white.png);*/
                
            }
            
            
            
            table button {
                padding-top: 2px;
                padding-bottom: 2px;
                margin-top: 2px;
                margin-bottom: 2px;
                border-radius: 5px;
                border: 0;
            }
            
            
            
            
            
            /** {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
            }*/
            
            
            
           
            
            .pagination>.active>a,
            .pagination>.active>span,
            .pagination>.active>a:hover,
            .pagination>.active>span:hover,
            .pagination>.active>a:focus,
            .pagination>.active>span:focus {
                z-index: 2;
                color: white !important;
                cursor: default;
                background-color: orange !important;
                border-color: orange !important;
            }
            
            .pagination a:hover,
            a:focus a {
                background-color: orange !important;
                color: white !important;
                text-decoration: underline;
            }
            
            .pagination a {
                color: orange !important;
                text-decoration: none;
            }
            /*.row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                margin: 5px;
            }*/
            
            .btn-group .dropdown-toggle:active,
            .btn-group.open .dropdown-toggle {
                outline: 0;
            }
            
            .btn-group>.btn+.dropdown-toggle {
                padding-right: 8px;
                padding-left: 8px;
            }
            
            .btn-group>.btn-lg+.dropdown-toggle {
                padding-right: 12px;
                padding-left: 12px;
            }
            
            .btn-group.open .dropdown-toggle {
                -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            }
            
            .btn-group.open .dropdown-toggle.btn-link {
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            
            #menu—div {
                /*max-width: 60%;
                width: 55%;*/
            }
            
            #menu—div select {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                /*background: url("img/down-3.png") no-repeat scroll right center transparent;*/
                padding-right: 10px;
                width: 5px;
                text-align: right;
            }
            
            .filter {
                background-color: orange;
                color: white;
            }
            
            .mui-media-body {
                margin-bottom: 5px;
            }
            
            li {
                list-style-type: none;
            }
            
            #goto_page_page_item2 {
                width: 65px !important;
                max-width: 60px !important;
            }
            
            
            
            .ie_select {
                appearance: none;
                background: url("img/down_transparent.png") no-repeat scroll right center transparent;
                padding-right: 10px;
                width: 5px;
                text-align: right;
                direction: rtl;
            }
            .ie_select option {
                direction: ltr;
            }
