#mainNavBar {
    width: 100%;
    padding: 10px 0;
}

#nav {
    width: 230px;
    height: 30px;
    margin: 0 auto;
}

#nav ul {
    padding: 0;
    margin: 0;
}

#nav ul li {
    position: relative;
    float: left;
    width: auto;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    list-style-type: none;
    padding-left: 30px;
}

#nav ul li a {
    text-align: center;
    display: block;;
    text-decoration: none;
    color: #f16700
}

#nav ul li a:hover {
    font-weight: bold;
}

#subNav {
    position: absolute;
    width: 180px;
    top: 30px;
    left: 0px;
    padding: 5px;
    color: #f16700;
    z-index: 100;
}

#subNav .drawdown {
    text-decoration: none;
    font-weight: normal;
    display: block;
    background-color: white;
    text-align: left;
    padding-left: 10px;
    z-index: 100;
}

#subNav a:hover {
    color: white;
    background-color: #f16700;
}
