<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>LOG信息</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="css/crawler.css">
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="css/menulist.css" rel="stylesheet" />
        <style>
            
            table tr {
                height: 30px;
            }
            .orange{
                background-color: #ffcc00 !important;
                color: white;
            }
            .gray{
                background-color: gray !important;
                color: white;
            }
            .warming {
                color: red
            }
        </style>
    </head>

    <body>
        <div class="" style="background-color: white;">
            <img src="#" style="max-width: 50%;margin: 10px;max-height: 45px; padding-left: 10px;" />
            <div id="" style="margin-top: 13px; float: right;align-content: center;align-items: center;margin-right: 20px;font-size: medium;">
                <div id="mainNavBar" style="display: none;">
                    <div id="nav">
                        <ul>
                            <li>
                                <a href="/home">首页</a>
                            </li>
                            <li>
                                <!-- <a>菜单</a>
                                <div id="subNav">
                                    <a class="drawdown" onclick="menu_change(this)" value="news">生物产业新闻查询</a>
                                    <a class="drawdown" onclick="menu_change(this)" value="db">生物产业数据库搜索</a>
                                </div> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content" style="width: 95%;margin-left: 2.5%;">

            <div class="mui-card" style="box-shadow: 5px 5px 3px lightgray;">
                <div class="yx-card-header" style="background-color: orange;color: white;">
                    <div style="padding: 5px;">
                        <span></span> Log信息 <span id="result"></span>
                    </div>
                </div>
                <div class="mui-card-content" style="padding: 2%;background-color: #F1F2F3;text-align: center;">
                    <div style="margin-bottom: 5px;">
                        <table align="center">
                            <tr>
                                <td>
                                    <label class="content-label">Name:</label>
                                    <label id="job_name" class="content-label"></label>
                                </td>
                                <td></td>
                                <td>
                                    <label class="content-label">ID:</label>
                                    <label id="job_id" class="content-label"></label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table border="2" style="" id="log_list" align="center">
                        
                    </table>
                </div>
            </div>
        </div>
        <div class="footer" style="font-size: small;color: gray;">
            
            <div id="" style="padding: 50px; width: 100%;text-align: center; color: lightgray;">
                <a style="color: lightgray;" href="https://www.baidu.com/link?url=_ovO1HNo1yGP1oK8ZaVAkBSmH7YL7_nd5m4J3T3BEEnuIjKwl5shWTUt24Hw-LRVkA5SrvE_YZr7vq03uLNTxZ7eUM7IGaFcmf--mEsQNvq&wd=&eqid=95a1750c0000de22000000065992b39d">推荐使用Chrome 或者 Firefox浏览器获得更好体验
                </a>
            </div>

        </div>
        <script type="text/html" id="log_body">
            <tr>
                <td>build_num</td>
                <td>start_time</td>
                <td>duration</td>
                <td>status</td>
                <td>message</td>
            </tr>
            <% 
               for(var i in logs){ %>
            <tr >
                <td><%= logs[i].build_num %></td>
                <td width="15%"><%= logs[i].start_time %></td>
                <td width="10%"><%= logs[i].duration %></td>
                <td width="10%"><%= logs[i].status %></td>
                <td width="60%" style="text-align: left;padding-left: 10px;">
                    <% for(var t in logs[i].text) {%>
                    <p style="margin-bottom: 0px;"><%= logs[i].text[t] %></p>
                    <%}%>
                </td>
            </tr>
            <%}%>
        </script>
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/menulist.js?v=5"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">
            function GetQueryString(name){
                 var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                 var r = window.location.search.substr(1).match(reg);
                 if(r!=null)return  unescape(r[2]); return null;
            }
            show();
            function show() {
                $('#job_name').html(GetQueryString('name'));
                $('#job_id').html(GetQueryString('id'));
                show_logs();
            }
            function show_logs() {
                var id = GetQueryString('id')
                $.get(
                    './crawler/job/' + id + '/log',
                    function(datas) {
                        console.log(datas)
                        if (datas.status == 200) {
                            var logs = format_data(datas.data)
                            var html = template.render('log_body', logs);
                            $("#log_list").empty();
                            $("#log_list").append(html);
                        }
                    }
                );
            }
            function format_data(data) {
                var keys = Object.keys(data).sort(
                    function(a, b) {
                        return parseInt(a)-parseInt(b)
                    });
                var result = [];
                var limit = GetQueryString('limit')
                var type = GetQueryString('type');
                for (var i = 0; i < keys.length; i++) {
                    if (typeof(limit) == 'string' && i >= parseInt(limit)) {
                        break;
                    }
                    var key = keys[i];
                    data[key].message = data[key].message.replace(/    /g, '&nbsp;&nbsp;&nbsp;&nbsp;')
                    data[key].text = data[key].message.split('\n')
                    if (type == 'all') {
                        result.push(data[key])
                    } else if (data[key].status == type) {
                        result.push(data[key])
                    }
                    
                }
                return {'logs':result}
            }
            function post(url, parmas, cb) {
                $.post(
                    url, 
                    parmas,
                    function(datas) {
                        if (datas.status == 200) {
                            alert('操作成功')
                            cb()
                        }else{
                            alert('操作失败,status:'+datas.status)
                        }
                    }
                )
            }
        </script>
    </body>

</html>
