<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>数据更新日期</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="css/crawler.css">
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="css/menulist.css" rel="stylesheet" />
        <style>
            
            table tr {
                height: 30px;
            }
            .orange{
                background-color: #ffcc00 !important;
                color: white;
            }
            .gray{
                background-color: gray !important;
                color: white;
            }
            .warming {
                color: red
            }
        </style>
    </head>

    <body>
        <div class="" style="background-color: white;">
            <img src="img/home_header.jpg" style="max-width: 50%;margin: 10px;max-height: 45px; padding-left: 10px;" />
            <div id="" style="margin-top: 13px; float: right;align-content: center;align-items: center;margin-right: 20px;font-size: medium;">
                <div id="mainNavBar">
                    <div id="nav">
                        <ul>
                            <li>
                            </li>
                            <li>
                                <a>菜单</a>
                                <div id="subNav">
                                    <a class="drawdown" onclick="menu_change(this)" value="crawler">任务列表</a>
                                    <a class="drawdown" onclick="menu_change(this)" value="maxdate">数据更新日期列表</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content" style="width: 95%;margin-left: 2.5%;">

            <div class="mui-card" style="box-shadow: 5px 5px 3px lightgray;">
                <div class="yx-card-header" style="background-color: orange;color: white;">
                    <div style="padding: 5px;">
                        <span></span> 数据更新日期 <span id="result"></span>
                    </div>
                </div>
                <div class="mui-card-content" style="padding: 2%;background-color: #F1F2F3;text-align: center;">
                    <table border="2" style="" id="date_list" align="center">
                            
                    </table>
                </div>
            </div>
        </div>
        <div class="footer" style="font-size: small;color: gray;">
            <table border="0" cellspacing="" cellpadding="" style="width: 100%;text-align: center;">
                <tr>
                    <td style="padding-left: 0px;width: 33%;">
                        <span id="">@2017 EAGLE EYE SYSTEM</span>
                    </td>
                    <td style="padding-left: 0px;width: 33%;">
                        <span id="">所有版权归越秀产业基金所有</span>
                    </td>
                    <td style="padding-left: 0px;width: 33%;">
                        <span id="">地址：广州市天河区珠江西路5号广州国际金融中心63楼</span>
                    </td>
                </tr>
            </table>
            <div id="" style="padding: 50px; width: 100%;text-align: center; color: lightgray;">
                <a style="color: lightgray;" href="https://www.baidu.com/link?url=_ovO1HNo1yGP1oK8ZaVAkBSmH7YL7_nd5m4J3T3BEEnuIjKwl5shWTUt24Hw-LRVkA5SrvE_YZr7vq03uLNTxZ7eUM7IGaFcmf--mEsQNvq&wd=&eqid=95a1750c0000de22000000065992b39d">推荐使用Chrome 或者 Firefox浏览器获得更好体验
                </a>
            </div>

        </div>
        <script type="text/html" id="date_body">
            <tr>
                <td>来源</td>
                <td>最新收集日期</td>
                <td>最新新闻发布日期</td>
                <td>日期差</td>
            </tr>
            <% 
               for(var i in dates){ %>
            <tr >
                <td width="15%"><a href="<%= dates[i].url %>" target="_blank"><%= dates[i].source %></a></td>
                <td width="15%"><%= dates[i].ct_str %></td>
                <td width="15%"><%= dates[i].data_time %></td>
                <td width="15%"><%= dates[i].diff %></td>
            </tr>
            <%}%>
        </script>
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/menulist.js?v=5"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">
            function show_dates() {
                $.post(
                    './maxdate',
                    function(datas) {
                        console.log(datas)
                        if (datas.status == 200 || datas.code == 200) {
                            var dates = format_data(datas.datas)
                            var html = template.render('date_body', dates);
                            $("#date_list").empty();
                            $("#date_list").append(html);
                        }
                    }
                );
            }
            function date_minus(sDate){ 
            　　var sdate = new Date(sDate.replace(/-/g, "/")); 
            　　var now = new Date(); 
            　　var days = now.getTime() - sdate.getTime(); 
            　　var day = parseInt(days / (1000 * 60 * 60 * 24)); 
            　　return day; 
            }
            function format_data(data) {
                data.sort(
                    function CompareDate(d1,d2) {
                        t1 = new Date(d1.ct_str.replace(/-/g,"\/"));
                        t2 = new Date(d2.ct_str.replace(/-/g,"\/"));
                        return t1 > t2 ? 1 : -1
                    }
                );
                for (var i = 0; i < data.length; i++) {
                    var _data = data[i];
                    _data['diff'] = date_minus(_data.ct_str)
                }
                return {'dates':data}
            }
            show_dates();
        </script>
    </body>

</html>
